Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.10.0
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.13
itsdangerous==0.24
kombu==3.0.21
psycopg2==2.5.3
pytz==2014.4
wsgiref==0.1.2
