Flask==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
SQLAlchemy==1.2.15
WTForms==2.2.1
Werkzeug==0.14.1
amqp==2.3.2
anyjson==0.3.3
argparse==1.4.0
billiard==3.5.0.5
celery==4.2.1
itsdangerous==1.1.0
kombu==4.2.2
psycopg2==2.7.6.1
pytz==2018.7
wsgiref==0.1.2
subprocess32==3.5.3
beautifulsoup4==4.6.3
